  <html>
  <head>
    <title>RRite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="dhd2msD3D67FTCAhIgrX6d-tp5eqrCl9SKeQggBjvQD1bfwKOMgA4wzAQmp9TuN3lqyfAmSFEUve3oAUcRHaNw">
    <link rel="stylesheet" href="/assets/application.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  </head>

  <body class="calendars">
    <div class="header-right">
      <!-- 管理者専用ボタンを追加 -->
      <button class="admin-button" id="admin-button">管理者専用</button>
    </div>

    <!-- ポップアップ用のダイアログ -->
    <div id="password-dialog" title="パスワード入力" style="display: none;">
      <%= form_tag('/login', id: 'password-form') do %>
        <!-- CSRFトークンをフォームに含める -->
        <%= csrf_meta_tags %>
        <label for="password">パスワード</label>
        <input type="password" id="password" name="password" autocomplete="off">
        <button type="submit" class="btn btn-primary">送信</button>
      <% end %>
    </div>


    <h1 style="display: flex; align-items: center; justify-content: space-between;">
    RRite_予定表　　
    <div style="display: flex; align-items: flex-start;">
    <div style="margin-center: auto; border: 2px dashed #5594; dashed #888; padding: 10px; font-size: 0.5em; color: #5599;">
      <!-- ご利用方法の説明 -->
      ■ご利用方法<br>
      　１．以下のカレンダー画面より、”空き”情報をご確認ください。<br>
      　２．ご予約したい”空き”情報をクリック選択してください。<br>
      　３．ご予約フォームより、必要項目を入力してください。<br>
      　４．ご予約フォームより、”予約する”ボタンを押してください。<br><br>
      　以上で完了となります。<br>
      　担当者より、後日ご連絡をいたしますので、お待ちください。<br><br>
    <u>※ 直接ご連絡いただいてもご予約は可能となります。</u>
    </div>
    <div>
    <span style="font-size: 0.5em; color: #5559;">"空き情報"例</span><br>
      <a class="reservation-info empty-reservation" style="font-size: 0.7em; color: #0000EE;"><u>1:15 空き</u></a>
    </div>
  </div>
</h1>
  
<div class="current-month-container">
  <!-- 現在の月を表示 -->
  <h2 class="current-month"><%= @current_month.strftime("%Y年%m月") %></h2>
</div>

<div class="navigation">
  <!-- 前月へのリンク。5ヶ月以上前の日付にはリンクを表示しない -->
  <% if @current_month + 5.month >= Date.today.beginning_of_month %>
    <%= link_to '＜', calendars_path(month: @current_month.prev_month), class: 'prev-month' %>
  <% else %>
    <%= '－' %>
  <% end %>

  <!-- 当月へのリンク -->
  <%= link_to '当月', calendars_path(month: Date.today.month), class: 'current-month' %>

  <!-- 次月へのリンク。5ヶ月以上先の日付にはリンクを表示しない -->
  <% if @current_month - 5.month <= Date.today.end_of_month %>
    <%= link_to '＞', calendars_path(month: @current_month.next_month) %>
  <% else %>
    <%= '－' %>
  <% end %>
</div>

<!-- カレンダーテーブルの生成 -->
    <table>
    <!-- 曜日のヘッダー -->
      <tr>
        <th>日</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
      </tr>
      <!-- 週ごとの行をループ -->
      <% @weeks.each do |week| %>
        <tr>
          <!-- 日ごとのセルをループ -->
          <% week.each do |day| %>
            <!-- 日が存在しないセルは空白に -->
            <% if day.nil? %>
              <td></td>
            <% else %>
              <!-- 予約情報と今日の日付のクラスを設定 -->
              <% reservations = @reservations_by_date[day[:date].to_date] || [] %>
              <% today_class = day[:date].to_date == Date.today ? 'today' : '' %>
              <% past_class = day[:date].to_date < Date.today ? 'past-date' : '' %>
              <td class="<%= "#{today_class} #{past_class}" %>">
                <!-- 日付の表示 -->
                <div class="date-cell">
                  <%= day[:date].day %>
                </div>
                <!-- 予約情報のループ -->
                <% reservations.each do |reservation| %>
                  <% if ['臨時休暇', '空き', '満員', 'ご予約受付中'].include?(reservation.name) %>
                    <div class="<%= reservation.name == '臨時休暇' ? 'holiday-cell' : reservation.name == 'ご予約受付中' ? 'holiday-cell temp-closed'  : reservation.name == '空き' ? 'reservation-info empty-reservation' : reservation.name == '満員' ? 'change' : '' %>" data-reservation-id="<%= reservation.id %>">
                      <!-- 予約情報の表示 -->
                      <!-- 空き情報にリンクを付与する -->
                      <% if reservation.name == '空き' %>
                        <% if reservation.hour.present? && reservation.minute.present? %>
                          <%= link_to "#{reservation.hour}:#{reservation.minute} #{reservation.name} #{reservation.menu}", user_reservation_path(date: day[:date], hour: reservation.hour, minute: reservation.minute), class: 'reservation-link' %>
                        <% else %>
                          <%= link_to "#{reservation.name} #{reservation.menu}", '#', class: 'reservation-link' %>
                        <% end %>
                      <% else %>
                        <!-- それ以外の予約情報 -->
                        <% if reservation.hour.present? && reservation.minute.present? %>
                          <%= "#{reservation.hour}:#{reservation.minute} #{reservation.name}" %>
                        <% else %>
                          <%= "#{reservation.name} " %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
                <!-- 休日名の表示 -->
                <% day[:holidays].each do |holiday| %>
                  <div class="holiday-name"><%= holiday %></div>
                <% end %>
                <!-- 週末または休日なら「お休み」を表示 -->
                <% if weekend_or_holiday?(day[:date]) %>
                  <div class="holiday-cell">お休み</div>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>

    <script>
    $(document).ready(function () {
      // ポップアップを初期化
      $("#password-dialog").dialog({
        autoOpen: false,  // 自動的に開かないように設定
        resizable: false, // サイズ変更を無効化
        height: "auto",   // 高さを自動設定
        width: 400,       // 幅を400pxに設定
        modal: true,      // モーダルダイアログとして表示
        buttons: {
          "キャンセル": function () {
            $(this).dialog("close"); // キャンセルボタンでダイアログを閉じる
          }
        }
      });

      // ボタンをクリックした際にポップアップを表示する
      $("#admin-button").on("click", function (event) {
        event.preventDefault(); // デフォルトのイベントをキャンセル
        $("#password-dialog").dialog("open"); // ダイアログを開く
      });

      // フォームの送信イベントを処理する
      $("#password-form").on("submit", function (event) {
        event.preventDefault(); // デフォルトの送信動作を停止
        var form = $(this);
        var password = $("#password").val(); // パスワードを取得

        // パスワードのバリデーションを行う
        if (password === "goda") {
          form.off("submit").submit(); // パスワードが正しい場合、フォームを送信
        } else {
          alert("パスワードが違います。"); // パスワードが誤っている場合、警告を表示
        }
      });

      // フラッシュメッセージの表示
      <% if flash[:notice] %>
        alert('<%= j flash[:notice] %>'); // 通知メッセージをアラートとして表示
      <% end %>
    });
  </script>

</body>
</html>