<h1>カレンダー</h1>
<div class="current-month-container">
  <h2 class="current-month"><%= @current_month.strftime("%Y年%m月") %></h2>
</div>

<div class="navigation">
  <%= link_to '前月', calendars_path(month: @current_month.prev_month), class: 'prev-month' %>
  <%= link_to '当月', calendars_path(month: Date.today.month), class: 'current-month' %>
  <div class="next-month">
    <%= link_to '翌月', calendars_path(month: @current_month.next_month) %>
  </div>
</div>

<table>
  <tr>
    <th>日</th>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
  </tr>

  <% @weeks.each do |week| %>
    <tr>
      <% week.each do |day| %>
        <% if day.nil? %>
          <td></td>
        <% else %>
          <% reservations = @reservations_by_date[day[:date].to_date] || [] %>
          <% today_class = day[:date].to_date == Date.today ? 'today' : '' %>
          <td class="<%= today_class %>">
            <%= link_to new_reservation_path(date: day[:date]), class: 'date-link' do %>
              <div class="date-cell">
                <%= day[:date].day %>
              </div>
              <% reservations.each do |reservation| %>
                <div class="reservation-info">
                  <%= "#{reservation.hour}:#{reservation.minute}" %>
                  <%= reservation.name %>
                  <%= reservation.menu %>
                </div>
              <% end %>
              <% day[:holidays].each do |holiday| %>
                <div class="holiday-name"><%= holiday %></div>
              <% end %>
              <% if weekend_or_holiday?(day[:date]) %>
                <div class="holiday-cell">お休み</div>
              <% end %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </table>
